@using PersonalLuis.Site.Models.Enums;

@model HomeVm
@section seo{
    <title>Luis Palacios | Developer, Blogger, Teacher</title>
    <meta name="description" content="@ViewBag.MetaDescription">
}
@section meta{
    <meta property="og:title" content="Luis Palacios - Developer, Blogger, Teacher" />
    <meta property="og:type" content="website" />
    <vc:og-image src="/images/luis-palacios-3.jpeg" width="1034" height="800" />
    <meta property="og:url" content="@Context.Request.GetAbsoluteUrl()" />
    <meta property="og:description" content="@ViewBag.MetaDescription">
    <meta property="fb:app_id" content="299469044286183">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@LRPalacios" />
    <meta name="twitter:title" content="Luis Palacios - Developer, Blogger, Teacher">
    <meta name="twitter:description" content="@ViewBag.MetaDescription">
    <meta name="twitter:image" content="@Context.Request.GetBaseUrl()/images/luis-palacios-3.jpeg">
}
@section styles{
    <environment include="Development">
        <link rel="preload" href="~/.temp/home.css" as="style" onload="this.rel='stylesheet'" />
    </environment>
    <environment exclude="Development">
        <link rel="preload" href="~/dist/home.css" asp-append-version="true" as="style" onload="this.rel='stylesheet'" />
    </environment>
}
<!-- About Section start -->
<section id="about" class="scroll-section root-sec padd-tb-60 grey lighten-5 about-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix about-inner">
                <div class="col-sm-12 col-md-4">
                    <div class="person-about">
                        <h1 style="display:none;">Luis Palacios</h1>
                        <h3 class="about-subtitle">My Story</h3>
                        <p>@Html.Raw(Model.GeneralInfo.History)</p>
                        <a class="waves-effect waves-light btn-large brand-bg white-text" href="~/LuisPalaciosCV.pdf" download><i class="mdi-content-archive left"></i> Download Resume</a>
                    </div>
                </div>
                <!-- about me description -->
                <div class="col-sm-6 col-md-4">
                    <div class="person-img wow fadeIn">
                        <picture>
                            <source type="image/webp" srcset="/images/luis-palacios-3.webp" />
                            <source type="image/png" srcset="/images/luis-palacios-3.jpg" />
                            <img class="z-depth-1" src="/images/luis-palacios-3.jpg" alt="luis-palacios">
                        </picture>
                        
                    </div>
                </div>
                <!-- about me image -->
                <div class="col-sm-6 col-md-4">
                    <div class="person-info">
                        <h3 class="about-subtitle">Personal Information</h3>
                        <h5><span>Name :</span> @Model.GeneralInfo.Name</h5>
                        <h5><span>Age :</span> @Model.GeneralInfo.Age</h5>
                        <h5><span>Email :</span> @Model.GeneralInfo.Email</h5>
                        <h5><span>Address :</span> @Model.GeneralInfo.Address</h5>
                        <h5><span>Education :</span> Bachelor in Computer Science</h5>
                        <h5><span>Position :</span> Full Stack Developer</h5>
                    </div>
                    <div class="about-social">
                        <ul>
                            @foreach (var socialMediaUrl in @Model.SocialMediaUrls)
                            {
                                switch (socialMediaUrl.SocialMediaType)
                                {
                                    case SocialMediaType.Facebook:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.Twitter:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.Youtube:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-youtube"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.LinkedIn:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.Github:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-github"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.Medium:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-medium-m"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.StackOverFlow:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fab fa-stack-overflow"></i></a>
                                        </li>
                                        break;
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- about me info -->
            </div>
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #about Section end -->
<!-- Resume Section start -->
<section id="resume" class="scroll-section ">
    <section id="skill" class="root-sec white skill-wrap">
        <div class="sec-overlay">
            <div class="container">
                <div class="row">
                    <div class="clearfix skill-inner">
                        <div class="col-sm-12 col-md-3">
                            <div class="skill-left">
                                <h2 class="title">Languages</h2>
                                <p class="regular-text">Main Languages I have learned and used for software development</p>
                            </div>
                        </div>
                        <!-- skills container -->
                        <div class="col-sm-12 col-md-6 col-md-offset-1">
                            <div class="skill-right">
                                <div id="skillSlider" class="clearfix skill-graph owl-carousel owl-theme">
                                    @foreach (var skill in @Model.Languages)
                                    {
                                        <div class="single-skill">
                                            <div class="after-li">
                                                <div class="singel-hr">
                                                    <div class="singel-hr-inner" data-height="@skill.Level%">
                                                        <div class="skill-visiable">
                                                            <span class="skill-title">@skill.Language</span>
                                                            <div class="hr-wrap">
                                                                <div class="hrc"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="skill-count">@skill.Level%</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp skl-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i class="mdi-navigation-chevron-left "></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i class="mdi-navigation-chevron-right "></i></a>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </section>
    <section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
        <div class="container">
            <div class="row">
                <div class="experience-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head experience-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Experience</h2>
                                    <p class="regular-text">Companies and Organizations where I have worked, I have grown, I have made friends and I have learn and deliver</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="experienceSlider" class="clearfix card-element-wrapper owl-carousel owl-theme">
                                            @foreach (var company in Model.Companies.Select((value, i) => new { Value = value, i }))
                                            {
                                                <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall"
                                                     data-wow-duration=".7s"
                                                     data-wow-delay=".@(company.i*2)s">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <h2 class="left-align card-title-top">@company.Value.StartDate - @company.Value.EndDate</h2>
                                                            <div class="valign-wrapper card-img-wrap">
                                                                <picture>
                                                                    <source type="image/webp" srcset="@company.Value.PictureUrl"/>
                                                                    <source type="image/png" srcset="@company.Value.PictureUrl"/>
                                                                    <img class="activator" src="@company.Value.PictureUrl" alt="@company.Value.Name">
                                                                </picture>
                                                            </div>
                                                        </div>
                                                        <div class="card-content">
                                                            <span class="card-title activator brand-text">@company.Value.Position<i class="mdi-navigation-more-vert right"></i></span>
                                                            <p>@company.Value.Name</p>
                                                        </div>
                                                        <div class="card-reveal">
                                                            <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">@company.Value.Position<i class="mdi-navigation-close right"></i></span>
                                                                <p>@company.Value.Name</p>
                                                            </div>
                                                            <p class="rev-content">
                                                                @company.Value.Description
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp exp-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="education" class="root-sec grey lighten-5 padd-tb-60 education-wrap">
        <div class="container">
            <div class="row">
                <div class="education-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head education-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Frameworks &amp; Tools</h2>
                                    <p class="regular-text">
                                        Frameworks, tools, libraries and other that I have learned and used for software development.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="educationSlider" class="clearfix card-element-wrapper owl-carousel owl-theme">
                                            @foreach (var devtool in Model.DevTools.Select((value, i) => new { Value = value, i }))
                                            {
                                                <div class="col-sm-4 single-card-box wow fadeInUpSmall"
                                                     data-wow-duration=".7s"
                                                     data-wow-delay=".@(devtool.i*2)s">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <div class="card-img-wrap">
                                                                <img class="activator" src="@devtool.Value.PictureUrl" alt="@devtool.Value.Name">
                                                            </div>
                                                        </div>
                                                        <div class="card-content">
                                                            <span class="card-title activator brand-text">@devtool.Value.Name<i class="mdi-navigation-more-vert right"></i></span>
                                                            <p><a href="@devtool.Value.Url" target="_blank">Official Page</a></p>
                                                        </div>
                                                        <!-- Reveal content-->
                                                        <div class="card-reveal">
                                                            <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">@devtool.Value.Name<i class="mdi-navigation-close right"></i></span>
                                                                <p><a href="@devtool.Value.Url" target="_blank">Official Page</a></p>
                                                            </div>
                                                            <p class="rev-content">
                                                                @Html.Raw(devtool.Value.ShortDescription)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp edu-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i class="mdi-navigation-chevron-left"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i class="mdi-navigation-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- #resume Section end -->
<!-- Book Section start -->
<section id="books" class="scroll-section root-sec brand-bg padd-tb-120 team-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix team-inner">
                <div class="col-sm-12 col-md-10 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head team-text">
                            <div class="col-sm-12">
                                <h2 class="title">Books</h2>
                                <p class="regular-text">
                                    Books in my collection that I highly recommend because of the personal impact they had on myself.
                                    You will also find my personal review for them.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="overflow-hidden">
                                <div class="row">
                                    <div id="teamSlider" class="clearfix card-element-wrapper owl-carousel owl-theme">
                                        @foreach (var contact in Model.Books.Select((value, i) => new { Value = value, i }))
                                        {
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall"
                                                 data-wow-duration=".7s"
                                                 data-wow-delay=".@(contact.i*2)s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="@contact.Value.PictureUrl" alt="@contact.Value.Title">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">@contact.Value.Title<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>@contact.Value.Author</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">@contact.Value.Title<i class="mdi-navigation-close right"></i></span>
                                                            <p>@contact.Value.Author</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            @contact.Value.ShortDescription
                                                            <br /><br />
                                                            My personal review: <a href="#">Coming soon</a>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                        }
                                    </div> <!-- #teamSlider end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp tmu-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                </div>
            </div>
        </div>
    </div> <!-- .container -->
</section>
<!-- #Books Section end -->
<!-- Blog Section end -->
<section id="blog" class="scroll-section root-sec grey lighten-5 padd-tb-120 blog-wrap">
    <div class="container">
        <div class="row">
            <div class="blog-inner">
                <div class="col-sm-12 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head blog-text">
                            <div class="col-sm-10">
                                <h2 class="title">Blog</h2>
                                <p class="regular-text">Did I mention that I also like to write and share?</p>
                            </div>
                        </div>
                        <div class="clearfix card-element-wrapper" id="blog-posts">
                            @foreach (var post in Model.FeaturedPosts.Select((value, i) => new { Value = value, i }))
                            {
                                <article class="col-sm-6 col-md-4 single-card-box single-post">
                                    <div class="card wow fadeInUpSmall"
                                         data-wow-duration=".7s"
                                         data-wow-delay=".@(post.i*2)s">
                                        <div class="card-image">
                                            <div class="card-img-wrap">
                                                <div class="blog-post-thumb waves-effect waves-block waves-light">
                                                    <a class="blog-link" href="@post.Value.Url" target="@(post.Value.IsMedium? "_blank":"_self")">
                                                        <img class="activator" src="@post.Value.BanerThumbnailUrl" alt="@post.Value.Slug">
                                                    </a>
                                                </div>
                                                <div class="post-body">
                                                    <a class="post-title-link brand-text blog-link" href="@post.Value.Url" target="@(post.Value.IsMedium? "_blank":"_self")"><h2 class="post-title">@post.Value.Title</h2></a>
                                                    <p class="post-content">@post.Value.Introduction</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix card-content">
                                            <a class="brand-text right waves-effect blog-link" href="@post.Value.Url" target="@(post.Value.IsMedium? "_blank":"_self")">
                                                @if (post.Value.IsMedium)
                                                {
                                                    <i class="fab fa-medium-m link-icon"></i>
                                                }
                                                Read More
                                            </a>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                        <div class="clearfix left-align">
                            <div class="col-sm-12">
                                <a class="waves-effect waves-light btn-large load-more blog-link" href="@Url.Action("Index", "Blog")">
                                    See More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./container -->
</section>
<!-- #blog Section end -->
<!-- Testimonial Section end -->
<section id="testimonial" class="scroll-section root-sec brand-bg padd-tb-120 testimonial-wrap">
    <div class="container">
        <div class="row">
            <div class="testimonial-inner">
                <div class="col-sm-12 col-md-10 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head testimonial-text">
                            <div class="col-sm-12">
                                <h2 class="title">testimonial</h2>
                                <p class="regular-text">What people says about me</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="overflow-hidden">
                                <div class="row">
                                    <div id="testimonialSlider" class="clearfix card-element-wrapper owl-carousel owl-theme">
                                        @foreach (var recommendation in Model.Recommentations.Select((value, i) => new { Value = value, i }))
                                        {
                                            <div class="col-sm-6 single-card-box wow fadeInUpSmall"
                                                 data-wow-duration=".7s"
                                                 data-wow-delay=".@(recommendation.i*2)s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="@recommendation.Value.PictureUrl" alt="@recommendation.Value.Name">
                                                            <p class="saying-about">@recommendation.Value.Testimonial</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">@recommendation.Value.Name -</span>
                                                        <a href="#">@recommendation.Value.Position, @recommendation.Value.Company</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div> <!-- #testimonialSlider end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp tmo-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                </div>
            </div>
        </div>
    </div> <!-- ./container end -->
</section>
<!-- #testimonial Section end -->
@section scripts{
    <environment include="Development">
        <script async src="~/.temp/home.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script async src="~/dist/home.bundle.js" asp-append-version="true"></script>
    </environment>
}
