@using PersonalLuis.Site.Models.Enums;
@model HomeVm
<!-- About Section start -->
<section id="about" class="scroll-section root-sec padd-tb-60 grey lighten-5 about-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix about-inner">

                <div class="col-sm-12 col-md-4">
                    <div class="person-about">
                        <h3 class="about-subtitle">My Story</h3>
                        <p>@Html.Raw(Model.GeneralInfo.History)</p>
                        <a class="waves-effect waves-light btn-large brand-bg white-text"><i class="mdi-content-archive left"></i> Download Resume</a>
                    </div>
                </div>
                <!-- about me description -->

                <div class="col-sm-6 col-md-4">
                    <div class="person-img wow fadeIn">
                        <img class="z-depth-1" src="@Model.GeneralInfo.PictureUrl" alt="luis-palacios">
                    </div>
                </div>
                <!-- about me image -->

                <div class="col-sm-6 col-md-4">
                    <div class="person-info">
                        <h3 class="about-subtitle">Personal Information</h3>
                        <h5><span>Name :</span> @Model.GeneralInfo.Name</h5>
                        <h5><span>Age :</span> @Model.GeneralInfo.Age</h5>
                        <h5><span>Phone :</span> +0123456789</h5>
                        <h5><span>Email :</span> @Model.GeneralInfo.Email</h5>
                        <h5><span>Address :</span> @Model.GeneralInfo.Address</h5>
                    </div>

                    <div class="about-social">
                        <ul>
                            @foreach (var socialMediaUrl in @Model.SocialMediaUrls)
                            {
                                switch (socialMediaUrl.SocialMediaType)
                                {
                                    case SocialMediaType.Facebook:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fa fa-facebook"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.Twitter:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fa fa-twitter"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.GooglePlus:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fa fa-google-plus"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.LinkedIn:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fa fa-linkedin"></i></a>
                                        </li>
                                        break;
                                    case SocialMediaType.Github:
                                        <li>
                                            <a href="@socialMediaUrl.Url" target="_blank" class="btn-floating waves-effect waves-light white"><i class="fa fa-github"></i></a>
                                        </li>
                                        break;
                                }
                            }
                        </ul>
                    </div>
                </div>
                <!-- about me info -->

            </div>
        </div>
    </div>
    <!-- .container end -->
</section>
<!-- #about Section end -->
<!-- Resume Section start -->
<section id="resume" class="scroll-section ">
    <section id="skill" class="root-sec white skill-wrap">
        <div class="sec-overlay">
            <div class="container">
                <div class="row">
                    <div class="clearfix skill-inner">
                        <div class="col-sm-12 col-md-3">
                            <div class="skill-left">
                                <h2 class="title">Languages</h2>
                                <p class="regular-text">Main Languages I have learned and used for software development</p>
                            </div>
                        </div>

                        <!-- skills container -->
                        <div class="col-sm-12 col-md-6 col-md-offset-1">
                            <div class="skill-right">
                                <div id="skillSlider" class="clearfix skill-graph">
                                    @foreach (var skill in @Model.Languages)
                                    {
                                        <div class="single-skill">
                                            <div class="after-li">
                                                <div class="singel-hr">
                                                    <div class="singel-hr-inner" data-height="@skill.Level%">
                                                        <div class="skill-visiable">
                                                            <span class="skill-title">@skill.Language</span>
                                                            <div class="hr-wrap">
                                                                <div class="hrc"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <span class="skill-count">@skill.Level%</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp skl-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-left"><i class="mdi-navigation-chevron-left "></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large brand-bg white-text go go-right"><i class="mdi-navigation-chevron-right "></i></a>
                </div>
            </div>
        </div>
        <!-- .container end -->
    </section>

    <section id="education" class="root-sec grey lighten-5 padd-tb-120 education-wrap">
        <div class="container">
            <div class="row">
                <div class="education-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head education-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Frameworks &amp; Tools</h2>
                                    <p class="regular-text">
                                        Frameworks, tools, and libraries that I have learned and used for software development.
                                        Some of them I have loved, some of them... let's just say not so much but here they are.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="educationSlider" class="clearfix card-element-wrapper">
                                            @foreach (var devtool in Model.DevTools)
                                            {
                                                <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <div class="card-img-wrap">
                                                                <img class="activator" src="@devtool.PictureUrl" alt="@devtool.Name">
                                                            </div>
                                                        </div>
                                                        <div class="card-content">
                                                            <span class="card-title activator brand-text">@devtool.Name<i class="mdi-navigation-more-vert right"></i></span>
                                                            <p><a href="@devtool.Url" target="_blank">Official Page</a></p>
                                                        </div>
                                                        <!-- Reveal content-->
                                                        <div class="card-reveal">
                                                            <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">@devtool.Name<i class="mdi-navigation-close right"></i></span>
                                                                <p><a href="@devtool.Url" target="_blank">Official Page</a></p>
                                                            </div>
                                                            <p class="rev-content">
                                                                @Html.Raw(devtool.ShortDescription)
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp edu-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-left"><i class="mdi-navigation-chevron-left"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large brand-bg go go-right"><i class="mdi-navigation-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="experience" class="root-sec padd-tb-120 brand-bg experience-wrap">
        <div class="container">
            <div class="row">
                <div class="experience-inner">
                    <div class="col-sm-12 col-md-10 card-box-wrap">
                        <div class="row">
                            <div class="clearfix section-head experience-text">
                                <div class="col-sm-12">
                                    <h2 class="title">Experience</h2>
                                    <p class="regular-text">Companies and Organizations where I have worked, I have grown, I have made friends and I have learn and deliver</p>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="overflow-hidden">
                                    <div class="row">
                                        <div id="experienceSlider" class="clearfix card-element-wrapper">
                                            @foreach (var company in Model.Companies)
                                            {
                                                <div class="col-sm-4 cold-xs-12 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                                                    <div class="card">
                                                        <div class="card-image waves-effect waves-block waves-light">
                                                            <h2 class="left-align card-title-top">@company.StartDate - @company.EndDate</h2>
                                                            <div class="valign-wrapper card-img-wrap">
                                                                <img class="activator" src="@company.PictureUrl" alt="@company.Name">
                                                            </div>
                                                        </div>
                                                        <div class="card-content">
                                                            <span class="card-title activator brand-text">@company.Position<i class="mdi-navigation-more-vert right"></i></span>
                                                            <p>@company.Name</p>
                                                        </div>
                                                        <div class="card-reveal">
                                                            <div class="rev-title-wrap">
                                                                <span class="card-title activator brand-text">@company.Position<i class="mdi-navigation-close right"></i></span>
                                                                <p>@company.Name</p>
                                                            </div>
                                                            <p class="rev-content">
                                                                Collaboratively initiate collaborative schemas for high-quality communities. Objectively create sticky relationships via team building outsourcing.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="btn-wrapp exp-ctrl">
                        <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                        <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</section>

<!-- #resume Section end -->
<!-- Team Section end -->
<section id="team" class="scroll-section root-sec brand-bg padd-tb-120 team-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix team-inner">
                <div class="col-sm-12 col-md-10 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head team-text">
                            <div class="col-sm-12">
                                <h2 class="title">Network</h2>
                                <p class="regular-text">Guys and gals that I have know trough my working years, they are great people and 
                                I would love to team up with them anyday. I would not hesitate to recommend any of them.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="overflow-hidden">
                                <div class="row">
                                    <div id="teamSlider" class="clearfix card-element-wrapper">
                                        @foreach (var contact in Model.Contacts)
                                        {
                                            <div class="col-sm-4 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="@contact.PictureUrl" alt="@contact.Name">
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">@contact.Name<i class="mdi-navigation-more-vert right"></i></span>
                                                        <p>@contact.Position</p>
                                                    </div>
                                                    <div class="card-reveal">
                                                        <div class="rev-title-wrap">
                                                            <span class="card-title activator brand-text">@contact.Name<i class="mdi-navigation-close right"></i></span>
                                                            <p>@contact.Position</p>
                                                        </div>
                                                        <p class="rev-content">
                                                            @contact.ShortDescription
                                                        </p>
                                                    </div>
                                                </div>
                                            </div> <!-- single team member -->
                                        }
                                    </div> <!-- #teamSlider end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp tmu-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                </div>
            </div>
        </div>

    </div> <!-- .container -->
</section>
<!-- #team Section end -->
<!-- Blog Section end -->
<section id="blog" class="scroll-section root-sec grey lighten-5 padd-tb-120 blog-wrap">
    <div class="container">
        <div class="row">
            <div class="blog-inner">
                <div class="col-sm-12 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head blog-text">
                            <div class="col-sm-10">
                                <h2 class="title">Blog</h2>
                                <p class="regular-text">Did I mention that I also like to write and teach?</p>
                            </div>
                        </div>
                        <div class="clearfix card-element-wrapper" id="blog-posts">
                            @foreach (var post in Model.FeaturedPosts)
                            {
                                <article class="col-sm-6 col-md-4 single-card-box single-post">
                                    <div class="card wow fadeInUpSmall" data-wow-duration=".7s">
                                        <div class="card-image">
                                            <div class="card-img-wrap">
                                                <div class="blog-post-thumb waves-effect waves-block waves-light">
                                                    <a href="single.html">
                                                        <img class="activator" src="@post.BanerThumbnailUrl" alt="@post.Slug">
                                                    </a>
                                                </div>
                                                <div class="post-body">
                                                    <a href="single.html" class="post-title-link brand-text"><h2 class="post-title">@post.Title</h2></a>
                                                    <p class="post-content">@post.Content</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix card-content">
                                            <a href="#" class="left js-favorite" title="Love this"><i class="mdi-action-favorite"></i><span class="numb">15</span></a>
                                            <a href="single.html" class="brand-text right waves-effect">Read More</a>
                                        </div>
                                    </div>
                                </article>
                            }
                        </div>
                        <div class="clearfix left-align">
                            <div class="col-sm-12">
                                <a href="blog.html" class="waves-effect waves-light btn-large load-more">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ./container -->
</section>
<!-- #blog Section end -->
<!-- Testimonial Section end -->
<section id="testimonial" class="scroll-section root-sec brand-bg padd-tb-120 testimonial-wrap">
    <div class="container">
        <div class="row">
            <div class="testimonial-inner">
                <div class="col-sm-12 col-md-10 card-box-wrap">
                    <div class="row">
                        <div class="clearfix section-head testimonial-text">
                            <div class="col-sm-12">
                                <h2 class="title">testimonial</h2>
                                <p class="regular-text">What people says about me</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="overflow-hidden">
                                <div class="row">
                                    <div id="testimonialSlider" class="clearfix card-element-wrapper">
                                        @foreach (var recommendation in Model.Recommentations)
                                        {
                                            <div class="col-sm-6 single-card-box wow fadeInUpSmall" data-wow-duration=".7s">
                                                <div class="card">
                                                    <div class="card-image waves-effect waves-block waves-light">
                                                        <div class="card-img-wrap">
                                                            <img class="activator" src="@recommendation.PictureUrl" alt="@recommendation.Name">
                                                            <p class="saying-about">@recommendation.Testimonial</p>
                                                        </div>
                                                    </div>
                                                    <div class="card-content">
                                                        <span class="card-title activator brand-text">@recommendation.Name -</span>
                                                        <a href="#">@recommendation.Position, @recommendation.Company</a>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div> <!-- #testimonialSlider end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-wrapp tmo-ctrl">
                    <a class="btn-floating waves-effect waves-light btn-large white go go-left"><i class="mdi-navigation-chevron-left brand-text"></i></a>
                    <a class="btn-floating waves-effect waves-light btn-large white go go-right"><i class="mdi-navigation-chevron-right brand-text"></i></a>
                </div>
            </div>
        </div>
    </div> <!-- ./container end -->
</section>
<!-- #testimonial Section end -->
