@using Microsoft.AspNetCore.Http.Extensions
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    @RenderSection("seo", required: true)
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#212121">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    @RenderSection("meta", required: false)
    <style>
        .circle-loader, .loader {
            height: 50px;
            position: absolute;
            width: 50px
        }

        #preloader, svg:not(:root) {
            overflow: hidden
        }

        .clearfix:after, .container:after, .nav:after, .row:after {
            clear: both
        }

        .circle-loader .path, .path {
            stroke-dasharray: 1,200;
            stroke-dashoffset: 0;
            stroke-linecap: round
        }

        .loader {
            left: calc(50% - 50px);
            top: calc(50% - 50px)
        }

        .circle-loader {
            -webkit-animation: rotate 2s linear infinite;
            animation: rotate 2s linear infinite;
            left: 50%;
            top: 20%
        }

            .circle-loader .path {
                -webkit-animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
                animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite
            }

        #preloader {
            background: #fff;
            display: block;
            height: 100vh;
            position: fixed;
            width: 100%;
            z-index: 9999
        }

        html {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%
        }

        body {
            margin: 0
        }

        @@media only screen and (min-width:601px) {
            .container {
                width: 85%
            }
        }

        @@-webkit-keyframes rotate {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }

            to {
                -webkit-transform: rotate(1turn);
                transform: rotate(1turn)
            }
        }

        @@keyframes rotate {
            0% {
                -webkit-transform: rotate(0);
                transform: rotate(0)
            }

            to {
                -webkit-transform: rotate(1turn);
                transform: rotate(1turn)
            }
        }

        .path {
            -webkit-animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
            animation: dash 1.5s ease-in-out infinite,color 6s ease-in-out infinite;
            stroke: #000
        }
    </style>

    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="anonymous">
    <link rel='preconnect' href='https://use.fontawesome.com' crossorigin="anonymous">

    <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" as="style" crossorigin="anonymous">
    <link rel="preload" href="~/legacy-libs/custom-bootstrap/bootstrap.min.css" as="style" onload="this.rel='stylesheet'" />
    @RenderSection("styles", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-104693796-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader">
            <svg class="circle-loader" height="50" width="50">
                <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="6" stroke-miterlimit="10">
                </circle>
            </svg>
        </div>
    </div>
    <!--preloader end-->
    <!-- Main Container -->
    <main id="app" class="main-section">
        <header id="navigation" class="root-sec white nav">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="nav-inner">
                            <nav class="primary-nav">
                                <div class="clearfix nav-wrapper">
                                    <a href="/" class="left brand-logo menu-smooth-scroll" data-section="#about">
                                        Luis Palacios
                                    </a>
                                    <a href="#" data-activates="mobile-demo" class="button-collapse" aria-label="See navigation"><i class="fas fa-bars"></i></a>
                                    <ul class="right static-menu">
                                        <li class="search-form-li">
                                            <a id="initSearchIcon" class=""><i class="fas fa-search search-icon"></i> </a>
                                            <div class="search-form-wrap hide">
                                                <form asp-controller="Blog" method="get">
                                                    <input type="search" name="searchTerm" class="search" value="@ViewBag.SearchTerm">
                                                    <button type="submit" role="button" aria-label="Search">
                                                        <i class="fas fa-search search-icon"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="inline-menu side-nav" id="mobile-demo">
                                        <!-- Mini Profile // only visible in Tab and Mobile -->
                                        <li class="mobile-profile">
                                            <div class="profile-inner">
                                                <div class="pp-container">
                                                    <img src="~/images/luis-palacios-mobile.jpg" alt="luis-palacios">
                                                </div>
                                                <h3>Luis Palacios</h3>
                                                <h5>Full Stack Developer</h5>
                                            </div>
                                        </li><!-- mini profile end-->
                                        @if (Context.Request.GetEncodedPathAndQuery() == Url.Action("Index", "Home"))
                                        {
                                            <li>
                                                <a href="#about" data-section="#about" class="menu-smooth-scroll"><i class="fas fa-user fa-fw"></i>About Me</a>
                                            </li>
                                            <li>
                                                <a href="#resume" data-section="#resume" class="menu-smooth-scroll"><i class="fas fa-file-alt fa-fw"></i>Resume</a>
                                            </li>
                                            <li>
                                                <a href="#books" data-section="#books" class="menu-smooth-scroll"><i class="fas fa-book fa-fw"></i>Books</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Blog" asp-action="Index"><i class="fas fa-pencil-alt fa-fw"></i>Blog</a>
                                            </li>
                                            <li>
                                                <a href="#testimonial" data-section="#testimonial" class="menu-smooth-scroll"><i class="fas fa-comments fa-fw"></i>Testimonial</a>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <a asp-controller="Home" asp-action="Index" class="menu-smooth-scroll"><i class="fas fa-user fa-fw"></i>About Me</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Home" asp-action="Index" asp-fragment="resume" class="menu-smooth-scroll"><i class="fas fa-file-alt fa-fw"></i>Resume</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Home" asp-action="Index" asp-fragment="books" class="menu-smooth-scroll"><i class="fas fa-book fa-fw"></i>Books</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Blog" asp-action="Index"><i class="fas fa-pencil-alt fa-fw"></i>Blog</a>
                                            </li>
                                            <li>
                                                <a asp-controller="Home" asp-action="Index" asp-fragment="testimonial" class="menu-smooth-scroll"><i class="fas fa-comments fa-fw"></i>Testimonial</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container end -->
        </header>
        @RenderBody()
        <!-- Footer Section end -->
        <footer id="footer" class="root-sec white root-sec footer-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="clearfix footer-inner">
                            <ul class="left social-icons">
                                <li>
                                    <a href="https://www.facebook.com/luisrodolfopalacios" class="tooltips tooltipped facebook" data-position="top" data-delay="50" data-tooltip="Facebook"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/luisrodolfopalacios/" class="tooltips tooltipped linkedin" data-position="top" data-delay="50" data-tooltip="Linkdin"><i class="fab fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/LRPalacios" class="tooltips tooltipped twitter" data-position="top" data-delay="50" data-tooltip="Twitter"><i class="fab fa-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCm3gnOZMcQfsmG8tRs5hIiA?view_as=subscriber" class="tooltips tooltipped google-plus" data-position="top" data-delay="50" data-tooltip="Youtube"><i class="fab fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/Luis-Palacios" class="tooltips tooltipped github" data-position="top" data-delay="50" data-tooltip="Github"><i class="fab fa-github"></i></a>
                                </li>
                                <li>
                                    <a href="https://medium.com/@@Luis_Palacios" class="tooltips tooltipped medium" data-position="top" data-delay="50" data-tooltip="Medium"><i class="fab fa-medium"></i></a>
                                </li>
                                <li>
                                    <a href="https://stackoverflow.com/users/1685147/luis-palacios" class="tooltips tooltipped stackoverflow" data-position="top" data-delay="50" data-tooltip="StackOverFlow"><i class="fab fa-stack-overflow"></i></a>
                                </li>
                            </ul> <!-- ./social icons end -->
                            <div class="right copyright">
                                <p>Luis Palacios &copy; All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- ./container end-->
        </footer>
        <!-- #footer end -->
    </main>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/solid.css" integrity="sha384-ioUrHig76ITq4aEJ67dHzTvqjsAP/7IzgwE7lgJcg2r7BRNGYSK0LwSmROzYtgzs" crossorigin="anonymous" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/brands.css" integrity="sha384-i2PyM6FMpVnxjRPi0KW/xIS7hkeSznkllv+Hx/MtYDaHA5VcF0yL3KVlvzp8bWjQ" crossorigin="anonymous" >
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/fontawesome.css" integrity="sha384-sri+NftO+0hcisDKgr287Y/1LVnInHJ1l+XC7+FOabmTTIK0HnE2ID+xxvJ21c5J" crossorigin="anonymous">
    @RenderSection("Scripts", required: false)
    <script>
        /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
        !function (a) { "use strict"; var b = function (b, c, d) { function e(a) { return h.body ? a() : void setTimeout(function () { e(a) }) } function f() { i.addEventListener && i.removeEventListener("load", f), i.media = d || "all" } var g, h = a.document, i = h.createElement("link"); if (c) g = c; else { var j = (h.body || h.getElementsByTagName("head")[0]).childNodes; g = j[j.length - 1] } var k = h.styleSheets; i.rel = "stylesheet", i.href = b, i.media = "only x", e(function () { g.parentNode.insertBefore(i, c ? g : g.nextSibling) }); var l = function (a) { for (var b = i.href, c = k.length; c--;)if (k[c].href === b) return a(); setTimeout(function () { l(a) }) }; return i.addEventListener && i.addEventListener("load", f), i.onloadcssdefined = l, l(f), i }; "undefined" != typeof exports ? exports.loadCSS = b : a.loadCSS = b }("undefined" != typeof global ? global : this);
        /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
        !function (a) { if (a.loadCSS) { var b = loadCSS.relpreload = {}; if (b.support = function () { try { return a.document.createElement("link").relList.supports("preload") } catch (b) { return !1 } }, b.poly = function () { for (var b = a.document.getElementsByTagName("link"), c = 0; c < b.length; c++) { var d = b[c]; "preload" === d.rel && "style" === d.getAttribute("as") && (a.loadCSS(d.href, d, d.getAttribute("media")), d.rel = null) } }, !b.support()) { b.poly(); var c = a.setInterval(b.poly, 300); a.addEventListener && a.addEventListener("load", function () { b.poly(), a.clearInterval(c) }), a.attachEvent && a.attachEvent("onload", function () { a.clearInterval(c) }) } } }(this);
    </script>
    <script type="application/ld+json">
        {
        "@@context": "http://schema.org",
        "@@type": "Person",
        "name": "Luis Palacios",
        "url": "http://luispalacios.ninja",
        "sameAs": [
        "https://www.facebook.com/luisrodolfopalacios",
        "https://github.com/Luis-Palacios",
        "https://www.linkedin.com/in/luisrodolfopalacios/",
        "https://plus.google.com/u/0/+LuisPalaciosLR"
        ]
        }
    </script>
</body>
</html>
