@model PersonalLuis.Site.Models.Blog.Post
@{ string absoluteUrl = Context.Request.GetAbsoluteUrl();}
@section seo{
    <title>Luis Palacios | @Model.Title</title>
    <meta name="description" content="@Model.Introduction">
}
@section meta{
    <meta property="og:title" content="@Model.Title">
    <meta property="og:type" content="article">
    <vc:og-image src="@Model.BannerUrl" width="2292" height="977" />
    <meta property="og:url" content="@absoluteUrl" />
    <meta property="og:description" content="@Model.Introduction">
    <meta property="fb:app_id" content="299469044286183">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@LRPalacios" />
    <meta name="twitter:title" content="@Model.Title">
    <meta name="twitter:description" content="@Model.Introduction">
    <meta name="twitter:image" content="@Context.Request.GetBaseUrl()@Model.BannerUrl">
    <link rel="canonical" href="@absoluteUrl" />
}
@section styles{
    <environment include="Development">
        <link rel="preload" href="~/.temp/blog.css" as="style" onload="this.rel='stylesheet'" />
    </environment>
    <environment exclude="Development">
        <link rel="preload" href="~/dist/blog.css" asp-append-version="true" as="style" onload="this.rel='stylesheet'" />
    </environment>
}
<!-- Banner start -->
<section id="banner" class="root-sec brand-bg padd-tb-55 single-banner blogpage-banner-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix blog-banner-text blog-single-banner">
                <div class="col-md-12">
                    <h2 class="title">@Model.Title</h2>
                    <ul class="clearfix blog-post-meta">
                        <li>
                            By <a href="#">@Model.Author</a>
                        </li>
                        <li>@Model.PublishedDate.ToShortDateString()</li>
                        <li>
                            <a href="#">5 Comments</a>
                        </li>
                        <li>
                            <a href="#">@Model.Category</a>
                        </li>
                    </ul>
                </div>
                 <div class="sm-change-language" >
                    <a href="#" data-tippy-content="Cambiar a español">
                        <i class="fas fa-language fa-2x"></i>
                        <i class="fas fa-exchange-alt"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- ./Banner end -->
<section id="all-posts" class="root-sec grey lighten-5 blogpage-posts-wrap">
    <div class="container">
        <div class="row">
            <div class="clearfix all-blog-post blog-inner with-sidebar">
                <!-- post container start-->
                <div class="col-sm-10">
                    <article class="single-post-page">
                        @await Html.PartialAsync($"~/Views/Blog/Posts/{Model.Content}.cshtml")
                    </article>
                </div>
                <div class="col-sm-2 text-center">
                    <aside class="post-side-bar">
                        <ul class="social-share">
                            <li data-tippy-content="Cambiar a español" class="language-item">
                                <a href="#">
                                    <i class="fas fa-language fa-2x"></i>
                                    <i class="fas fa-exchange-alt"></i>
                                </a>
                            </li>
                            <li data-tippy-content="Share on facebook">
                                <a href="#" id="facebook-share"><i class="fab fa-facebook-square fa-2x"></i></a>
                            </li>
                            <li data-tippy-content="Share on twitter">
                                <a href="https://twitter.com/intent/tweet?text=@Model.Title&url=@absoluteUrl&via=LRPalacios"><i class="fab fa-twitter fa-2x"></i></a>
                            </li>
                            <li data-tippy-content="Share on linkedin">
                                <a href="#" id="linkedin-share"><i class="fab fa-linkedin-in fa-2x"></i></a>
                            </li>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script type="text/javascript">
        window.personalSite = "@ViewBag.SearchTerm";
    </script>
    <script>
        window.twttr = (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function (f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));
    </script>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '299469044286183',
                autoLogAppEvents: true,
                xfbml: true,
                version: 'v3.3'
            });
        };
    </script>
    <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
    <environment include="Development">
        <script async src="~/.temp/post.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script async src="~/dist/post.bundle.js" asp-append-version="true"></script>
    </environment>
}
